.footer-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 150px;
    margin-top: 60px;
    margin-bottom: -150px;
}

.footer-icon1{
    width: 132px;
    height: 80px;
}

p{
font-size: 16px;
padding-left: 30px;
font-family: "Inter";
}

.footer-icon2{
    width: 132px;
    height: 32px;
}